<footer class="main-footer ">
    <div class="float-center" style="text-align: center;
  ">
    <strong >2022-<script>document.write( new Date().getUTCFullYear() );</script> Desenvolvido por <a href="https://infopel.co.mz/" target="_blank">Infopel.co.mz</a>.</strong>
</div>
</footer>

<partial name="_ControlSidebar" />