     <!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
       
  <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                    <i class="right fas "></i>
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    Beneficiarios
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Perfil do Beneficiario</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Rendimento</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Comercialização</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Formação</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Insumos</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Satisfação</p>
                    </a>
                </li>

            </ul>
        </li>
                @*Regadios*@

        <li class="nav-item ">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Regadios
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" >
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cadastro de Regadio</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Intensificação</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Associacação</p>
                    </a>
                </li>
            </ul>
        </li>

            @*Associação*@

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    Associação

                </p>
            </a>
        </li>
        
        @*Demostracao Tecnologica*@

        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Demostração Tecnológica
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cadastro de DT</p>
                    </a>
                </li>
            </ul>
        </li>

    

        @*Dados Agrupados*@

        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    Dados Agrupados
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Salvaguardas Sociais</p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Salvaguardas Ambientais</p>
                    </a>
                </li>
            </ul>

        </li>

        @*Gestão Documental*@

        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon  fas fa-plus-square"></i>
                <p>
                    Gestão Documental
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Planos Semanal</p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Planos Quinzenais</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Planos Trimestrais</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Planos Anuais</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Planos Anuais de Actividade e Orçamento</p>
                    </a>
                </li>
            </ul>
        </li>

        @*Fluxo de Procurement*@

        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-plus-square"></i>
                <p>
                    Fluxo de Procurement
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cadastrod do plano de procurement</p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Contrato</p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Workflow</p>
                    </a>
                </li>
            </ul>
        </li>

        @*Quadro de Resultados*@

        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-plus-square"></i>
                <p>
                    Quadro de Resultados
                </p>
            </a>
  
        </li>
        @*Relatorios*@

        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    Relatórios
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Rendimentos</p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Inqueridor</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Logs do Sistema</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Aprovações ao sistema</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Projectos</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Procurement</p>
                    </a>
                </li>
            </ul>

        </li>

        @*Administração*@

        <li class="nav-item ">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    Administração
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Fluxo de Aprovação</p>
                    </a>
                </li>
            </ul>


            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle"></i>
                        <p>Utilizadores</p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Niveis de Acesso</p>
                    </a>
                </li>
            </ul>

        </li>

       
    </ul>
</nav>
<!-- /.sidebar-menu -->